/* white-space: pre-wrap;
    padding-bottom: 4px;
    font-weight: 500;
    font-family: Rubik, Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 38px;
    line-height: 1; */